.tile {
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  height: 185px;
  width: 300px;
  box-shadow: 4px 6px 13px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;

    &__data {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        &__code {
          margin-bottom: 5px;
          font-weight: 500;
        }

        &__name {
          color: var(--x-text-light);
          font-size: 14px;
        }
      }
    }

    &__icon {
      color: var(--x-text-darkgray);
      font-size: 25px;
      cursor: pointer;

      &:hover {
        color: var(--x-action);
      }
    }
  }

  &__chart {
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 10px;
  }

  &__footer {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &__alerts {
      font-weight: 500;
    }

    &__trend {
      font-size: 15px;
      color: var(--x-text-light);

      &__bullish {
        color: var(--x-success);
        font-weight: 500;
      }
      &__bearish {
        color: var(--x-fail);
        font-weight: 500;
      }
    }
  }
}
