<div class="tile">
  <!-- HEADER -->
  <div class="tile__header">
    <div class="tile__header__data">

      <app-company-logo></app-company-logo>

      <div class="tile__header__data__info">
        <div class="tile__header__data__info__code">{{trending.symbol}}</div>
        <div class="tile__header__data__info__name">{{trending.symbol}}</div>
      </div>
    </div>
    <ion-icon name="ellipsis-horizontal" class="tile__header__icon"></ion-icon>
  </div>

  <!-- CHART -->
  <div class="tile__chart">
    <img [src]="'assets/' + chartUrl" />
  </div>

  <!-- FOOTER -->
  <div class="tile__footer">
    <div class="tile__footer__alerts">{{trending.count}} alerts</div>
    <div class="tile__footer__trend">
      <span [class.tile__footer__trend__bullish]="label === 'bullish'"
        [class.tile__footer__trend__bearish]="label === 'bearish'">{{percent}}% </span>
      <span>{{label}}</span>
    </div>
  </div>

</div>