<div class="header-menu">
  <div class="header-menu__user">
    Kevin Wan
  </div>

  <div class="header-menu__action hidden-md-up">
    <ion-icon name="person-add"></ion-icon>
    <div>Invite friend</div>
  </div>

  <div class="header-menu__action hidden-md-up">
    <ion-icon name="notifications"></ion-icon>
    <div>Notifications</div>
  </div>

  <div class="header-menu__action hidden-md-up">
    <ion-icon name="help-circle"></ion-icon>
    <div>Help center</div>
  </div>

  <div class="header-menu__action hidden-md-up">
    <ion-icon name="cog"></ion-icon>
    <div>Settings</div>
  </div>

  <div class="header-menu__action">
    <ion-icon name="close"></ion-icon>
    <div>Logout</div>
  </div>
</div>