<div class="trending">
  <div class="trending__header">
    <div class="trending__header__title">Trending tickers</div>

    <app-sort-filter class="trending__header__filter" [label]="'Filter by:'" [options]="sortOptions"
      [(value)]="selectedSortOption" (valueChange)="sortChanged()">
    </app-sort-filter>
  </div>

  <div class="trending__content">
    <div class="trending__content__scrollable">

      <ng-container *ngIf="loading">
        <app-trending-tile *ngFor="let i of [].constructor(6)" [loading]="true"
          class="trending__content__item">
        </app-trending-tile>
      </ng-container>

      <ng-container *ngIf="!loading">
        <app-trending-tile *ngFor="let trending of filteredTrendingList" [trending]="trending"
          class="trending__content__item">
        </app-trending-tile>
      </ng-container>

      <ng-container *ngIf="filteredTrendingList?.length < 1">
        There are no trending tickers right now
      </ng-container>
    </div>
  </div>
</div>