<app-header [title]="'asd'"></app-header>

<ion-content class="content">
  <div>
    <h1>Colors</h1>


    <!-- BACKGROUND COLORS -->
    <h3>Background</h3>
    <div class="colors">

      <div class="colors__color">
        <div>var(--x-bg-blue)</div>
        <div class="colors__color__tile" style="background-color: var(--x-bg-blue);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-bg-lightblue)</div>
        <div class="colors__color__tile" style="background-color: var(--x-bg-lightblue);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-bg-gray)</div>
        <div class="colors__color__tile" style="background-color: var(--x-bg-gray);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-bg-lightgray)</div>
        <div class="colors__color__tile" style="background-color: var(--x-bg-lightgray);"></div>
      </div>
    </div>

    <!-- TEXT COLORS -->
    <h3>Text</h3>
    <div class="colors">

      <div class="colors__color">
        <div>var(--x-text)</div>
        <div class="colors__color__tile" style="background-color: var(--x-text);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-text-lightblue)</div>
        <div class="colors__color__tile" style="background-color: var(--x-text-lightblue);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-text-light)</div>
        <div class="colors__color__tile" style="background-color: var(--x-text-light);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-text-darkgray)</div>
        <div class="colors__color__tile" style="background-color: var(--x-text-darkgray);"></div>
      </div>
    </div>


    <!-- INFO COLORS -->
    <h3>Info</h3>
    <div class="colors">

      <div class="colors__color">
        <div>var(--x-success)</div>
        <div class="colors__color__tile" style="background-color: var(--x-success);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-fail)</div>
        <div class="colors__color__tile" style="background-color: var(--x-fail);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-success-light)</div>
        <div class="colors__color__tile" style="background-color: var(--x-success-light);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-fail-light)</div>
        <div class="colors__color__tile" style="background-color: var(--x-fail-light);"></div>
      </div>
    </div>


    <!-- ACTION COLORS -->
    <h3>Info</h3>
    <div class="colors">

      <div class="colors__color">
        <div>var(--x-action)</div>
        <div class="colors__color__tile" style="background-color: var(--x-action);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-action-light)</div>
        <div class="colors__color__tile" style="background-color: var(--x-action-light);"></div>
      </div>

      <div class="colors__color">
        <div>var(--x-accent)</div>
        <div class="colors__color__tile" style="background-color: var(--x-accent);"></div>
      </div>
    </div>


  </div>
  <div>
    <h1>Components</h1>
  </div>
</ion-content>
  