//
// animated loading bars
//
@keyframes placeHolderShimmer {
  0% {
    background-position: -868px 0;
  }
  100% {
    background-position: 868px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: var(--x-bg-gray);
  background: linear-gradient(to right, var(--x-bg-gray) 8%, var(--x-bg-lightgray) 18%, var(--x-bg-gray) 33%);
  background-size: 1800px 104px;
  position: relative;
}

.loading-line {
  @extend .animated-background;
}

// END: animated loading bars
