.options {
  padding: 5px 0;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: var(--x-bg-lightgray);
    }
  }
}
