
<div class="table" #table>

  <!-- LOADING INDICATOR -->
  <ng-container *ngIf="loading">
    <div *ngFor="let i of [].constructor(10)" class="table__row table__row--loading loading-line">
    </div>
  </ng-container>


  <ng-container *ngIf="!loading">
    <!-- NO DATA PLACEHOLDER -->
    <ion-row *ngIf="alerts.length === 0">
      No alerts to show.
    </ion-row>

    <!-- ALERTS TABLE -->
    <ion-virtual-scroll *ngIf="alerts?.length > 0" [items]="alerts" approxItemHeight="85px" [trackBy]="trackByFn" 
        [itemHeight]="tableWidth <= mobileBreakpoint ? itemMobileHeightFn : itemHeightFn" >

        <div *virtualItem="let alert; let itemBounds = bounds;" class="table__row" [class.table__row--closed]="alert.alertClosedDate"
          (click)="openAlert(alert)">

          <!-- NOT MOBILE -->
          <ng-container *ngIf="tableWidth > mobileBreakpoint">
            <!-- AVATAR, NAME -->
            <div class="table__col person">
        
              <app-avatar [profileId]="alert.userId" [alertsCount]="alert.userMeta.xScore"></app-avatar>
      
              <app-text-duplex class="person__info">
                <ng-container upper><div class="person__info__text-wrap">{{alert.userName}}</div></ng-container>
                <ng-container lower><div class="person__info__text-wrap">{{'@' + alert.userName}}</div></ng-container>
              </app-text-duplex>
            </div>  


            <!-- COMPANY, ACTION -->
            <div class="table__col action">
      
              <app-company-logo></app-company-logo>
    
              <app-text-duplex class="action__info">
                <ng-container upper>{{(alert.alertClosedDate ? 'Sold ' : 'Bought ') + alert.symbol + ' shares'}}</ng-container>
                <ng-container lower *ngIf="tableWidth > tabletBreakpoint">{{'@ USD ' + alert.pricePaid}}</ng-container>
                <ng-container lower *ngIf="tableWidth <= tabletBreakpoint">
                  <span *ngIf="alert.alertClosedDate">{{'Closed ' + getDate(alert.alertClosedDate) }}</span>
                  <span *ngIf="!alert.alertClosedDate">{{'Opened ' + getDate(alert.timeOfEntryAlert) }}</span>
                </ng-container>
              </app-text-duplex>
                
            </div>  

            <!-- DATE -->
            <div class="table__col date" *ngIf="tableWidth > tabletBreakpoint">
              <app-text-duplex>
                <ng-container upper>{{'Closed ' + getDate(alert.alertClosedDate) }}</ng-container>
                <ng-container lower>{{'Opened ' + getDate(alert.timeOfEntryAlert) }}</ng-container>
              </app-text-duplex>
            </div>  


            <!-- STRATEGY -->
            <div class="table__col strategy" *ngIf="tableWidth > smallerDesktopBreakpoint">
              <div class="table__type__text">
                <app-tags-list [tags]="['Swing', 'Other', 'Test', 'Test2']" [dark]="false"></app-tags-list>
              </div>
            </div>  

            <!-- RESULT -->
            <div class="table__col result">
              <app-alert-result [alert]="alert"></app-alert-result>
            </div>

            <!-- SENTIMENT -->
            <div class="table__col sentiment">
              <app-sentiment [alert]="alert"></app-sentiment>
            </div>
      
          </ng-container>


          <!-- MOBILE -->
          <ng-container *ngIf="tableWidth <= mobileBreakpoint">

            <div class="mobile">
              <div class="mobile__header">
                <app-avatar [profileId]="alert.userId" [alertsCount]="alert.userMeta.xScore"></app-avatar>

                <div class="mobile__header__info">

                  <div class="mobile__header__info__user">
                    {{alert.userName}}
                  </div>

                  <div class="mobile__header__info__action">
                    {{(alert.alertClosedDate ? 'Sold ' : 'Bought ') + alert.symbol + ' shares'}}
                  </div>

                  <div class="mobile__header__info__date">
                    <span *ngIf="alert.alertClosedDate"><b>Closed </b>{{getDate(alert.alertClosedDate) }}</span>
                    <span *ngIf="!alert.alertClosedDate"><b>Opened </b>{{getDate(alert.timeOfEntryAlert) }}</span>
                  </div>

                </div>


                <app-company-logo></app-company-logo>
            </div>

            <div class="mobile__footer" [class.mobile__footer--closed]="alert.alertClosedDate">
              <app-alert-result [alert]="alert"></app-alert-result>
              <app-sentiment [alert]="alert"></app-sentiment>
            </div>
          </div>

          </ng-container>


        </div>
    </ion-virtual-scroll>
  </ng-container>


</div>


