// TABLE
.table2 {
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: white;
    border-radius: 15px;
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--x-bg-gray);

    &--loading {
      height: 75px;
    }

    &:hover {
      transform: scale(1.005);
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.05);
      transition: all 0.2s ease;
    }

    @media (max-width: 991px) {
      padding: 10px;
    }

    &--closed {
      background-color: var(--x-bg-gray);
    }
  }

  &__col {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 10px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // height: 100%;
  }
}

// COLUMNS

// PERSON
.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-basis: 200px;
  flex-grow: 1;

  &__info {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 15px;
  }
}

// ACTION
.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-basis: 250px;
  flex-grow: 1;

  &__info {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 15px;
  }
}

// DATE
.date {
  flex-basis: 130px;
  flex-grow: 1;
}

// STRATEGy
.strategy {
  flex-basis: 200px;
  flex-grow: 4;
}

// RESULT
.result {
  flex-basis: 120px;
  flex-grow: 1;
  display: flex;
}

// SENTIMENT
.sentiment {
  flex-basis: 160px;
  flex-grow: 1;
}
