.table {
  background-color: var(--x-bg-lightgray);
  border-radius: 20px;
  padding: 15px;

  @media (max-width: 991px) {
    padding: 0px;
  }

  // ROW
  &__row {
    background-color: white;
    border-radius: 15px;
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;

    &--loading {
      height: 75px;
    }

    &:hover {
      transform: scale(1.005);
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.05);
      transition: all 0.2s ease;
    }

    @media (max-width: 991px) {
      padding: 10px;
    }

    &--closed {
      background-color: var(--x-bg-gray);
    }
  }

  // PERSON
  &__person {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    &__info {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      &__name {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      &__login {
        font-size: 13px;
        color: var(--x-text-light);
      }
    }
  }

  // ACTION
  &__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    &__info {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      &__action {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      &__price {
        font-size: 13px;
        color: var(--x-text-light);
      }
    }
  }

  // DATE
  &__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    &__container {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
    }
    &__closed {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    &__opened {
      font-size: 13px;
      color: var(--x-text-light);
    }
  }

  // TYPE
  &__type {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    &__text {
      flex-grow: 1;
      flex-shrink: 1;
      color: var(--x-text-light);
      font-size: 15px;
    }
  }

  // RESULT
  &__result {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-size: 15px;

    &__container {
      border-radius: 5px;
      padding: 5px 10px;

      &--made {
        color: white;
        background-color: var(--x-success);
      }
      &--lost {
        color: white;
        background-color: var(--x-fail);
      }
      &--up {
        color: var(--x-success);
        background-color: var(--x-success-light);
      }
      &--down {
        color: var(--x-fail);
        background-color: var(--x-fail-light);
      }
    }
  }

  // ACTIONS
  &__actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    color: var(--x-text-darkgray);

    &__action {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 7px 13px 7px 0;
      cursor: pointer;
      height: 100%;

      &--toggled {
        color: var(--x-action);
      }

      ion-icon {
        font-size: 20px;
        margin-right: 7px;

        &:hover {
          transition: all 0.1s ease;
          opacity: 0.6;
        }
      }
    }
  }
}
