<div class="table">

  <ion-grid>
  <ng-container *ngIf="loading">
    <ion-row *ngFor="let i of [].constructor(10)" class="table__row table__row--loading loading-line">
    </ion-row>
  </ng-container>


  <ng-container *ngIf="!loading">
    <ion-virtual-scroll [items]="alerts" approxItemHeight="73px" [trackBy]="trackByFn">
        <ion-row *virtualItem="let alert; let itemBounds = bounds;" class="table__row" [class.table__row--closed]="alert.alertClosedDate"
          (click)="openAlert(alert)">
    
          <!-- AVATAR, NAME -->
          <ion-col size="12" size-md="12" size-lg="2">
            <div class="table__person">
    
              <app-avatar></app-avatar>
    
              <div class="table__person__info">
                <div class="table__person__info__name">
                  {{alert.userName}}
                </div>
                <div class="table__person__info__login">
                  @{{alert.userName}}
                </div>
              </div>
            </div>
          </ion-col>
    
          <!-- COMPANY, ACTION -->
          <ion-col size="12" size-md="12" size-lg="3">
            <div class="table__action">
    
              <app-company-logo></app-company-logo>
    
              <div class="table__action__info">
                <div class="table__action__info__action">
                  {{alert.alertClosedDate ? 'Sold' : 'Bought'}} {{alert.symbol}} shares
                </div>
                <div class="table__action__info__price">
                  @ USD {{alert.pricePaid}}
                </div>
              </div>
            </div>
          </ion-col>
    
          <!-- DATE -->
          <ion-col size="6" size-md="3" size-lg="2">
            <div class="table__date">
              <div class="table__date__container">
                <div class="table__date__closed" *ngIf="alert.alertClosedDate">
                  Closed {{getDate(alert.alertClosedDate)}}
                </div>
                <div class="table__date__opened">
                  Opened {{getDate(alert.timeOfEntryAlert)}}
                </div>
              </div>
            </div>
          </ion-col>
    
          <!-- TYPE -->
          <ion-col size="6" size-md="3" size-lg="1">
            <div class="table__type">
              <div class="table__type__text">
                <!-- {{alert.type}} -->
                Swing
              </div>
            </div>
          </ion-col>
    
          <!-- RESULT -->
          <ion-col size="6" size-md="3" size-lg="2">
            <div class="table__result">
              <div>
                <div class="table__result__container table__result__container--made"
                  *ngIf="alert.alertClosedDate && alert.diffCalc > 0">
                  Made {{alert.diffCalc}}%
                </div>
                <div class="table__result__container table__result__container--lost"
                  *ngIf="alert.alertClosedDate && alert.diffCalc < 0">
                  Lost {{(alert.diffCalc * -1)}}%
                </div>
                <div class="table__result__container table__result__container--up"
                  *ngIf="!alert.alertClosedDate && alert.diffCalc > 0">
                  Up {{alert.diffCalc}}%
                </div>
                <div class="table__result__container table__result__container--down"
                  *ngIf="!alert.alertClosedDate && alert.diffCalc < 0">
                  Down {{(alert.diffCalc * -1)}}%
                </div>
                <div class="table__result__container table__result__container--zero" *ngIf="alert.diffCalc === 0">
                  {{alert.diffCalc}}%
                </div>
              </div>
            </div>
          </ion-col>
    
          <!-- ACTIONS -->
          <ion-col size="6" size-md="3" size-lg="2">
            <div class="table__actions">
              <div class="table__actions__action" [class.table__actions__action--toggled]="false"
                (click)="comment($event, alert)">
                <ion-icon name="chatbox"></ion-icon>
                <div>{{99}}</div>
              </div>
              <div class="table__actions__action" [class.table__actions__action--toggled]="false"
                (click)="save($event, alert)">
                <ion-icon name="bookmark"></ion-icon>
                <div>{{99}}</div>
              </div>
              <div class="table__actions__action" [class.table__actions__action--toggled]="alert.alertSentimentHasLiked"
                (click)="like($event, alert)">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{alert.alertSentimentLikeCount}}</div>
              </div>
            </div>
          </ion-col>
    
    
        </ion-row>
    </ion-virtual-scroll>
  </ng-container>

  </ion-grid>

</div>