// TABLE
.table {
  width: 100%;
  display: block;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    border-radius: 15px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid var(--x-bg-gray);

    &--loading {
      height: 75px;
    }

    &:hover {
      transform: scale(1.005);
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.05);
      transition: all 0.2s ease;
    }

    &--closed {
      background-color: var(--x-bg-gray);
    }
  }

  &__col {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 15px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}

// COLUMNS

// PERSON
.person {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 10px;

  &__info {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 15px;
  }
}

// ACTION
.action {
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 1;

  &__info {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 15px;
  }
}

// DATE
.date {
  flex-basis: 130px;
  flex-grow: 0;
}

// STRATEGy
.strategy {
  flex-basis: 200px;
  flex-grow: 4;
  justify-content: center;
}

// RESULT
.result {
  flex-basis: 120px;
  flex-grow: 1;
  justify-content: center;
}

// SENTIMENT
.sentiment {
  flex-basis: 150px;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 10px;
}

// MOBILE
.mobile {
  width: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 20px 15px;

    &__info {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      margin: 0 15px;

      &__user {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 3px;
      }

      &__action {
        font-size: 14px;
        color: var(--x-text-darkgray);
      }

      &__date {
        font-size: 12px;
        color: var(--x-text-light);
        margin-bottom: 2px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--x-bg-gray);
    padding: 10px 15px;

    &--closed {
      border-top: 1px solid var(--x-bg-darkgray);
    }
  }
}
