.alerts {
  &__recent {
    margin-top: 30px;
    min-height: 600px;
    padding-bottom: 200px;
  }
}

.content {
  --padding-start: 30px;
  --padding-end: 30px;

  @media (max-width: 991px) {
    --padding-start: 10px;
    --padding-end: 10px;
  }
}
