.tags {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__tag {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__more {
    margin-top: 2px;
  }
}
