/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button {
  text-transform: none;
  --border-radius: 10px;
}

.content {
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-start: 30px;
  --padding-end: 30px;
}

.modal-very-big .modal-wrapper {
  --background: transparent;
  --box-shadow: none;
}

@media (min-width: 767px) {
  .modal-very-big .modal-wrapper {
    width: 1400px;
    height: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media only screen and (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hidden-lg-up {
    display: none !important;
  }
}

// animated loading bars
@keyframes placeHolderShimmer {
  0% {
    background-position: -868px 0;
  }
  100% {
    background-position: 868px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f0f0f0;
  background: linear-gradient(to right, #f0f0f0 8%, #e9e9e9 18%, #f0f0f0 33%);
  background-size: 1800px 104px;
  position: relative;
}

.loading-line {
  @extend .animated-background;
}
